header {
  display: grid;
  grid-template: auto auto auto / 1fr;
  padding: 20px 20% 0 20%;
  color: white;
  background: linear-gradient(rgba(244, 139, 130, 0.7), rgba(252, 227, 138, 0.8)), url("../assets/img/header.png") no-repeat center center fixed;
  background-size: cover;

  nav {
    width: 100%;
    display: grid;
    grid-template: auto / 3fr repeat(5, 1fr) 60px 60px;
    grid-template-areas: 'logo about service work blog contact shop search';
    align-items: center;
    justify-content: space-between;

    #logo {
      grid-area: logo;
    }

    > a:nth-child(2) {
      grid-area: about;
    }

    > a:nth-child(3) {
      grid-area: service;
    }

    > a:nth-child(4) {
      grid-area: work;
    }

    > a:nth-child(5) {
      grid-area: blog;
    }

    > a:nth-child(6) {
      grid-area: contact;
    }

    > a:nth-child(7) {
      grid-area: shop;
    }

    > a:nth-child(8) {
      grid-area: search;
    }

    #logo a {
      font-size: 30px;
      text-align: left;
      font-weight: 700;
    }

    .header__link {
      font-size: 14px;
      font-weight: 500;
      position: relative;
    }

    .header__link::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #fce38a;
      transition: all 0.2s;
    }

    .header__link:hover, #logo a:hover {
      color: #fce38a;
    }

    .header__link:hover::after {
      width: 100%;
      transition: all 0.2s;
    }

  }

  a {
    text-align: center;
    color: white;
  }

  #header__info {
    padding: 160px 0 150px 0;

    h3 {
      font-size: 72px;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      margin-bottom: 60px;
      font-family: 'Kaushan Script', cursive;
    }

    h2 {
      font-size: 150px;
      line-height: 0.9;
      letter-spacing: -0.051em;
      font-weight: 700;
      text-align: center;
    }

    .line {
      width: 60px;
      height: 3px;
      background-color: white;
      margin: 70px calc(50% - 30px) 50px calc(50% - 30px);
    }

    button {
      border-radius: 0;
      border: 2px solid white;
      font-size: 14px;
    }

    #header__info__btnWrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #header__line1 {
    overflow: hidden;

    #header__line1__bg {
      height: 3px;
      width: 0;
      background-color: #f48b82;
    }
  }

  .header__bottom:nth-child(1) {
    opacity: 1;
  }

  .header__bottom {
    padding: 0 10px 20px 10px;
    opacity: 0.7;

    .header__bottom__line {
      width: 100%;
      height: 3px;
      margin-bottom: 10px;
      background-color: white;
    }

    h4 {
      display: inline-block;
      font-size: 24px;
      margin-right: 4px;
      font-weight: 600;
    }

    h5 {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

@media (max-width: 1280px) {
  header {
    padding: 20px 10% 0 10%;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 20px 5% 0 5%;

    nav {
      display: grid;
      grid-template: auto / 2fr repeat(5, 1fr) 40px 40px;
      grid-template-areas: 'logo about service work blog contact shop search';
    }

    #header__info {
      padding: 120px 0;

      h3 {
        font-size: 50px;
        margin-bottom: 40px;
      }

      h2 {
        font-size: 100px;
      }

      .line {
        margin: 50px calc(50% - 30px);
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      display: grid;
      grid-template: auto / repeat(6, 1fr) 40px 40px;
      grid-template-areas: 'logo about service work blog contact shop search';
    }

    #header__info {
      h3 {
        font-size: 40px;
      }

      h2 {
        font-size: 80px;
      }
    }

    .header__bottom {
      h4 {
        display: inline-block;
        font-size: 20px;
        margin-right: 4px;
      }

      h5 {
        display: inline-block;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    nav {
      display: grid;
      grid-template: auto auto / repeat(5, 1fr) 40px 40px;
      grid-template-areas:
              'logo logo logo logo logo logo logo'
              'about service work blog contact shop search';

      .header__link {
        font-size: 12px;
      }

      #logo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
    }

    #header__info {
      h3 {
        font-size: 32px;
      }

      h2 {
        font-size: 60px;
      }
    }

    .header__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h4 {
        font-size: 18px;
        margin: 0;
      }

      h5 {
        font-size: 12px;
      }
    }
  }
}