#story {
  #images {
    display: grid;
    grid-template: 250px / 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-items: center;

    .imageWrap {
      width: 100%;
      height: 250px;
      position: relative;
    }

    .story__image {
      position: relative;
      z-index: 2;
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 32px;
        opacity: 0;
        transition: all 0.2s;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 18px;
        color: white;
        font-weight: 700;
        opacity: 0;
        transition: all 0.2s;
      }
    }

    .story__image, .imageBg {
      width: 100%;
      height: 100%;
    }

    .imageWrap:hover .story__image {
      transform: translate(-10px, -10px);
      transition: all 0.2s;

      img {
        opacity: 1;
        transition: all 0.2s;
      }

      h4 {
        opacity: 1;
        transition: all 0.2s;
      }
    }

    .imageBg {
      background-color: #95e1d3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    #story__image1 {
      background: url("../assets/img/aboutUs1.png") no-repeat center center;
    }

    #story__image1:hover {
      background: linear-gradient(rgba(244, 139, 130, 0.7), rgba(252, 227, 138, 0.8)), url("../assets/img/aboutUs1.png") no-repeat center center;
    }

    #story__image2 {
      background: url("../assets/img/aboutUs2.png") no-repeat center center;
    }

    #story__image2:hover {
      background: linear-gradient(rgba(244, 139, 130, 0.7), rgba(252, 227, 138, 0.8)), url("../assets/img/aboutUs2.png") no-repeat center center;
    }

    #story__image3 {
      background: url("../assets/img/aboutUs3.png") no-repeat center center;
    }

    #story__image3:hover {
      background: linear-gradient(rgba(244, 139, 130, 0.7), rgba(252, 227, 138, 0.8)), url("../assets/img/aboutUs3.png") no-repeat center center;
    }
  }
}

@media (max-width: 768px) {
  #story {
    #images {
      display: grid;
      grid-template: 250px 250px 250px / 1fr;
      grid-gap: 0;

      .imageWrap {
        margin: 0 calc(50% - 190px);
        width: 380px;
        height: 250px;
      }
    }
  }
}
